## Core latex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Bibliography auxiliary files:
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# morewrites
*.mw

## Specific additional auxiliary files:
collection_tmp.bib
main.adx
main.aux.copy
main.for
main.for.tmp
main.idx
main.ldx
main.pdf
main.sdx
main.xdv

