## Core latex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Bibliography auxiliary files:
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## morewrites
*.mw

## Specific additional auxiliary files:
collection_tmp.bib
main.adx
main.aux.copy
main.for
main.for.tmp
main.idx
main.ldx
main.pdf
main.sdx
main.xdv
check-hpsg.adx
check-hpsg.aux.copy
check-hpsg.for
check-hpsg.for.tmp
check-hpsg.idx
check-hpsg.ldx
check-hpsg.pdf
check-hpsg.sdx
check-hpsg.xdv

## Other
*.xml
langsci-2018-03-21
#main.tex#
bib_header.txt

.DS_Store
