## Core latex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Bibliography auxiliary files:
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## morewrites
*.mw

## Specific additional auxiliary files:
collection_tmp.bib
main.adx
main.aux.copy
main.for
main.for.tmp
main.idx
main.ldx
main.pdf
main.sdx
main.xdv
check-hpsg.adx
check-hpsg.aux.copy
check-hpsg.for
check-hpsg.for.tmp
check-hpsg.idx
check-hpsg.ldx
check-hpsg.pdf
check-hpsg.sdx
check-hpsg.xdv

## Other
*.xml
langsci-2018-03-21
#main.tex#
bib_header.txt

.DS_Store
chapters-pdfs/08.pdf
chapters-pdfs/09.pdf
chapters-pdfs/10.pdf
chapters-pdfs/11.pdf
chapters-pdfs/12.pdf
chapters-pdfs/13.pdf
chapters-pdfs/14.pdf
chapters-pdfs/15.pdf
chapters-pdfs/16.pdf
chapters-pdfs/17.pdf
chapters-pdfs/18.pdf
chapters-pdfs/19.pdf
chapters-pdfs/20.pdf
chapters-pdfs/21.pdf
chapters-pdfs/22.pdf
chapters-pdfs/23.pdf
chapters-pdfs/24.pdf
chapters-pdfs/25.pdf
chapters-pdfs/26.pdf
chapters-pdfs/27.pdf
chapters-pdfs/28.pdf
chapters-pdfs/29.pdf
chapters-pdfs/30.pdf
chapters-pdfs/31.pdf
chapters-pdfs/32.pdf
chapters-pdfs/33.pdf
chapters-pdfs/34.pdf
chapters-pdfs/35.pdf
chapters-pdfs/36.pdf
chapters-pdfs/01.pdf
chapters-pdfs/02.pdf
chapters-pdfs/03.pdf
chapters-pdfs/04.pdf
chapters-pdfs/05.pdf
chapters-pdfs/06.pdf
chapters-pdfs/07.pdf
